# Visual Studio Code settings folder
.vscode/

# Visual Studio project files
*.sln
*.vcxproj*
.vs/

# Build artifacts and binaries
bin/
build/
*.o
*.d

# External libraries
external/

# Todo list file
todo
