# Visual Studio Code
.vscode/

# Object files
*.o

# Precomiled headers
include/stdafx.hpp.gch

# Directory which contains temporary compilation files
build/

# The compiled executable
game

# Todo list
todo